@media screen and (min-width: 992px) {
  nav {
    width: 10vw; } }
@media (min-width: 768px) and (max-width: 991px) {
  nav {
    width: 15vw; } }
@media (min-width: 600px) and (max-width: 767px) {
  nav {
    width: 20vw; } }
@media (min-width: 480px) and (max-width: 599px) {
  nav {
    width: 25vw; } }
@media only screen and (max-width: 479px) {
  nav {
    width: 25vw; } }

@media screen and (min-width: 992px) {
  .home-handler, .artist-handler {
    margin-left: 10vw; } }
@media (min-width: 768px) and (max-width: 991px) {
  .home-handler, .artist-handler {
    margin-left: 15vw; } }
@media (min-width: 600px) and (max-width: 767px) {
  .home-handler, .artist-handler {
    margin-left: 20vw; } }
@media (min-width: 480px) and (max-width: 599px) {
  .home-handler, .artist-handler {
    margin-left: 25vw; } }
@media only screen and (max-width: 479px) {
  .home-handler, .artist-handler {
    margin-left: 25vw; } }

@media screen and (min-width: 992px) {
  img {
    max-width: 600px; } }
@media (min-width: 768px) and (max-width: 991px) {
  img {
    max-width: 450px; } }
@media (min-width: 600px) and (max-width: 767px) {
  img {
    max-width: 350px; } }
@media (min-width: 480px) and (max-width: 599px) {
  img {
    max-width: 290px; } }
@media only screen and (max-width: 479px) {
  img {
    max-width: 200px; } }

@media screen and (min-width: 992px) {
  .puzzle-prompt {
    max-width: 600px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .puzzle-prompt {
    max-width: 450px; } }
@media (min-width: 600px) and (max-width: 767px) {
  .puzzle-prompt {
    max-width: 350px; } }
@media (min-width: 480px) and (max-width: 599px) {
  .puzzle-prompt {
    max-width: 290px; } }
@media only screen and (max-width: 479px) {
  .puzzle-prompt {
    max-width: 200px; } }

@media screen and (min-width: 992px) {
  .level {
    margin: 15px 30px 0px 0px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .level {
    margin: 15px 25px 0px 0px; } }
@media (min-width: 600px) and (max-width: 767px) {
  .level {
    margin: 15px 20px 0px 0px; } }
@media (min-width: 480px) and (max-width: 599px) {
  .level {
    margin: 20px 15px 0px 0px; } }
@media only screen and (max-width: 479px) {
  .level {
    margin: 20px 10px 0px 0px; } }

@media screen and (min-width: 992px) {
  .home-list li, .artist-list li {
    max-width: 600px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .home-list li, .artist-list li {
    max-width: 450px; } }
@media (min-width: 600px) and (max-width: 767px) {
  .home-list li, .artist-list li {
    max-width: 350px; } }
@media (min-width: 480px) and (max-width: 599px) {
  .home-list li, .artist-list li {
    max-width: 290px; } }
@media only screen and (max-width: 479px) {
  .home-list li, .artist-list li {
    max-width: 200px; } }

@media (min-width: 480px) and (max-width: 599px) {
  .artist-details {
    margin-right: 20px; } }
@media only screen and (max-width: 479px) {
  .artist-details {
    margin-right: 20px; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

::-webkit-scrollbar {
  display: none; }

nav {
  border-right: 1px solid #161c20;
  height: 100%; }

body {
  align-content: center;
  background-color: #fff;
  justify-items: center; }

#loading {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease;
  background-color: rgba(255, 255, 255, 0.7); }
  #loading p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
  #loading .hide {
    opacity: 0;
    pointer-events: none; }

img {
  -o-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 10px 20px rgba(166, 173, 201, 0.2);
  -ms-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 10px 20px rgba(166, 173, 201, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 10px 20px rgba(166, 173, 201, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 10px 20px rgba(166, 173, 201, 0.2);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 10px 20px rgba(166, 173, 201, 0.2); }

body {
  color: #161c20;
  font-family: 'Playfair Display', serif; }

a {
  color: inherit;
  text-decoration: none; }

h2 {
  font-weight: 100; }

h4 {
  font-weight: 600; }
  h4:nth-child(4) {
    font-weight: 100; }

h5 {
  font-style: italic;
  font-weight: bold; }

input {
  font-family: 'Playfair Display', serif;
  font-weight: bold; }

#return {
  font-weight: 100; }

#root {
  display: flex;
  justify-content: center; }

#canvas {
  image-rendering: pixelated; }

nav {
  padding-top: 50px; }

.home-handler, .artist-handler {
  margin-bottom: 30px;
  width: 100%;
  padding-top: 50px;
  min-height: 200px; }

nav {
  position: fixed;
  left: 0; }
  nav ul {
    list-style-type: none;
    margin: 0px 20px; }
    nav ul li {
      margin-bottom: 20px; }
      nav ul li a {
        display: inline-block; }
        nav ul li a:hover {
          -moz-transform: translateY(-1px);
          -ms-transform: translateY(-1px);
          -o-transform: translateY(-1px);
          -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
          text-shadow: 0px 0px 0px #161c20;
          -webkit-text-shadow: 0px 0px 0px #161c20;
          -khtml-text-shadow: 0px 0px 0px #161c20;
          -moz-text-shadow: 0px 0px 0px #161c20; }

form {
  margin: 0px 20px; }
  form .search-field {
    display: flex;
    flex-flow: column-reverse; }
    form .search-field #search-artist, form .search-field label {
      transition: all 0.2s;
      touch-action: manipulation; }
    form .search-field label {
      margin-bottom: 10px; }
    form .search-field #search-artist {
      max-width: 350px;
      border-style: none;
      background-color: white;
      display: block;
      margin-bottom: 10px;
      height: 21px;
      border-bottom: solid 1px #161c20; }
      form .search-field #search-artist::placeholder {
        opacity: 0;
        transition: inherit; }
      form .search-field #search-artist:focus::placeholder {
        opacity: 1; }
      form .search-field #search-artist:placeholder-shown + label {
        cursor: text;
        max-width: 66.66%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transform-origin: left bottom;
        transform: translate(0, 1.75rem); }
      form .search-field #search-artist:focus + label {
        transform: translate(0, 0);
        cursor: pointer; }
  form input[type=submit] {
    border-style: none;
    background-color: white;
    display: block;
    margin-bottom: 20px;
    height: 21px; }
    form input[type=submit]:hover {
      -moz-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
      -o-transform: translateY(-1px);
      -webkit-transform: translateY(-1px);
      transform: translateY(-1px);
      text-shadow: 0px 0px 0px #161c20;
      -webkit-text-shadow: 0px 0px 0px #161c20;
      -o-text-shadow: 0px 0px 0px #161c20;
      -ms-text-shadow: 0px 0px 0px #161c20;
      -moz-text-shadow: 0px 0px 0px #161c20; }

.home-list, .artist-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none; }
  .home-list li, .artist-list li {
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column; }
    .home-list li:hover, .artist-list li:hover {
      -moz-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
      -o-transform: translateY(-1px);
      -webkit-transform: translateY(-1px);
      transform: translateY(-1px);
      text-shadow: 0px 0px 0px #161c20;
      -webkit-text-shadow: 0px 0px 0px #161c20;
      -o-text-shadow: 0px 0px 0px #161c20;
      -ms-text-shadow: 0px 0px 0px #161c20;
      -moz-text-shadow: 0px 0px 0px #161c20; }
    .home-list li img, .artist-list li img {
      align-self: center; }
    .home-list li h2, .artist-list li h2 {
      margin: 10px 0px;
      display: block;
      width: inherit; }

.artist-details {
  margin-left: 20px;
  margin-bottom: 20px; }
  .artist-details .level {
    background: white;
    border-style: none; }
    .artist-details .level:hover {
      -moz-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
      -o-transform: translateY(-1px);
      -webkit-transform: translateY(-1px);
      transform: translateY(-1px);
      text-shadow: 0px 0px 0px #161c20;
      -webkit-text-shadow: 0px 0px 0px #161c20;
      -o-text-shadow: 0px 0px 0px #161c20;
      -ms-text-shadow: 0px 0px 0px #161c20;
      -moz-text-shadow: 0px 0px 0px #161c20; }
  .artist-details hr {
    margin: 10px 20px 10px 0px;
    max-width: 400px; }
  .artist-details .puzzle-prompt {
    position: relative;
    max-height: 95vh; }
    .artist-details .puzzle-prompt img {
      display: block;
      max-height: 95vh; }
    .artist-details .puzzle-prompt .img-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: rgba(255, 255, 255, 0.7); }
      .artist-details .puzzle-prompt .img-overlay:hover {
        opacity: 1; }
  .artist-details h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .artist-details h2 {
    margin: 10px 0px; }

#return {
  margin: 10px 0px 10px 20px; }

/*# sourceMappingURL=main.css.map */
